.searchmovie{
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    align-items: center;
    margin: 2% 0;
  }
  .movielistcontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    gap: 25px;
    justify-content: space-evenly;
  }