.container{
  display: flex;
  flex-direction: column;
}

.searchresults{
  display: block;
  color: black;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 500;
  align-items: center;
  margin-top:2%;
  margin-left: 4%;
}
.searchresults span{
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: bold;
}
